name: Matrix Workflow Example

on: workflow_dispatch

jobs:
  job1:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubtuntu-latest, macos-latest]
        node: [16, 18]
    steps:
      - name: Run Job1
        run: |
          if [[ ${{ matrix.os }} == "macos-latest" ]];then
            echo "Running Job1 on OS=${{ matrix.os }} Node=${{ matrix.node }}"
            exit 1
          else
            echo "Running Job1 on OS=${{ matrix.os }} Node=${{ matrix.node }}"
          fi
  job2:
    needs: job1
    if: failure()
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubtuntu-latest, macos-latest]
        node: [16, 18]
    steps:
      - name: Run Job2
        run: |
          echo "Running Job2 on OS=${{ matrix.os }} Node=${{ matrix.node }}"
